/* custom-scrollbar class for scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: gray; /* Color of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darker black on hover */
}
